:root {
  color-scheme: light;

  --max-width: 730px;
  --min-width: 320px;

  --just-white: hsl(0, 0%, 100%);
  --greyish-blue: hsl(217, 20%, 51%);
  --blue: hsla(212, 100%, 50%, 1);

  --background-color: hsl(227, 100%, 98%);
  --h1-color: hsl(217, 21%, 21%);
  --p-color: hsla(217, 35%, 45%, 1);

  --FF: 'Space Mono';
  --FW-Primary: 700;
  --FW-Secondary: 400;
}

[data-theme='dark'] {
  color-scheme: dark;

  --background-color: hsl(220, 40%, 13%);
  --card-background: hsl(222, 41%, 20%);
  --h1-color: var(--just-white);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;

  font-family: var(--FF);
  font-weight: var(--FW-Secondary);
  font-size: 1.5rem;
  line-height: normal;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  padding-block-start: 31px;
  padding-inline: 24px;

  background-color: var(--background-color);
}

@media screen and (min-width: 515px) {
  body {
    display: grid;
    place-items: center;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

h1,
h2 {
  font-weight: var(--FW-Primary);
}

h3,
h4,
h5,
h6 {
  font-weight: var(--FW-Secondary);
}

h1 {
  font-size: 2.6rem;
  color: var(--h1-color);
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}
